<template>
  <div>
    <input type="text" v-model="text">
    <button @click="save()">Save</button>
  </div>
</template>

<script scoped>
export default {
  name: 'InputTodo',
  data () {
    return {
      text: null
    }
  },
  methods: {
    save () {
      this.$emit('saveItem', this.text)
    }
  }
}
</script>

<style scoped>

</style>
