<template>
  <div>
    <todo-list></todo-list>
    <ul>
      <li></li>
    </ul>
    <input-todo></input-todo>
  </div>
</template>

<script>
import TodoList from './TodoList'
import InputTodo from './InputTodo'
import getDataMixins from '../mixins/getDataMixins'
import postDataMixins from '../mixins/postDataMixins'

export default {
  name: 'Page',
  mixins: [getDataMixins, postDataMixins],
  components: {
    TodoList,
    InputTodo
  },
  filters: {
    capitalize (val) {
      val.toUpperCase()
    }
  },
  data () {
    return {
      color: 'red',
      text: '',
      status: '',
      srcUrl: 'https://via.placeholder.com/20',
      todoItems: [
        {
          text: 'Todo1',
          time: 129330101,
          completed: false
        },
        {
          text: 'Todo2',
          time: 139330102,
          completed: true
        },
        {
          text: 'Todo3',
          time: 149330103,
          completed: false
        },
        {
          text: 'Todo4',
          time: 159330104,
          completed: true
        },
        {
          text: 'Todo5',
          time: 169330105,
          completed: false
        }
      ]
    }
  }
}
</script>

<style scoped>
</style>
