<template>
  <div>This is my list</div>
</template>

<script>
export default {
  name: 'TodoList',
  props: {
    todoItems: {
      type: Array
    }
  }
}
</script>

<style scoped>
  .red {
    color: crimson;
  }

  .green {
    color: darkgreen;
  }
</style>
